@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
} 

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: "DNFBitBit";
  src: url("/font/DNFBitBitTTF.ttf") format("truetype"),
  url("/font/DNFBitBitOTF.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .font-dnf {
    font-family: "DNFBitBit", sans-serif;
  }
  .text-xxs {
    font-size: 0.5rem;
    line-height: 0.75rem;
  }
  .text-neon {
    text-shadow: 0 0 5px #00ffcc, 0 0 10px #00ffcc, 0 0 20px #00ffcc;
    color: #00ffcc;
  }
  .glow {
    box-shadow: 0 0 5px #00ffcc, 0 0 10px #00ffcc, 0 0 20px #00ffcc;
  }
  .text-neon-white {
    text-shadow: 0 0 1px #ffffff, 0 0 5px #ffffff;
    color: #ffffff;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .svg-repaint svg * {
    stroke: rgba(168, 85, 247, 0.8) !important;
    fill: rgba(168, 85, 247, 0.8) !important;
  }
}